@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .sidebar {
    @apply flex items-center text-base gap-[14px] cursor-pointer;
  }
  .projects {
    @apply justify-between px-3 py-[10px] flex items-center hover:bg-[#5030E514] cursor-pointer mt-[10px] rounded-md;
  }
}

.react-trello-board {
  background-color: #fff !important;
}

.react-trello-lane {
  background-color: #f5f5f5 !important;
  border-radius: 16px !important;
}

::-webkit-scrollbar{
  display: none !important;
}

.react-trello-lane > header {
  display: block !important;
  padding: 22px 20px;
  border-bottom: 3px solid #5030e5;
}

.react-trello-lane > header > span {
  margin-right: 12px;
}

.react-trello-card > header{
  display: flex !important; 
  flex-direction: column-reverse !important;
  justify-content: left !important;
}

.react-trello-card > header > span:nth-child(1) {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #0d062d !important;
  margin: 6px 0;
}

.react-trello-card > header > span:nth-child(2) {
  background: #dfa87433 !important;
  color: #D58D49 !important;
  padding: 4px 6px ;
  margin-left: 10px;
  width: fit-content;
}

.react-trello-board{
  overflow-y: auto !important;
}